header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 10vh;
}


/*Para dispositivos que tengan menos de 768px*/
/* 
@media (max-width: 768px) {
    body {
        padding-top: 60px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .header {
        height: 60px;
    }

    .logo {
        height: 60px;
    } */

    /* .logo img {
        width: 50px;
        height: 50px;
    } */


/* } */