*{
    padding: 0;
    margin: 0;
}
.navbar{
    background-color: black;
    height: 13vh;
    top:0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1000;
}
.Logo{
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

.Padre{
    position: relative;
    height: 45vh;
}
.Titulo-Descripcion{
    position:absolute;
    width: 25%;
    margin-left: 5%;
    margin-top: 5%;
}
.Imagen{
    position: absolute;
    width: 100%;
}
.imagenEnSeccion{
    height: 45vh;
    box-shadow: 0px 0px 20px 20px blue;
}
.Titulo{
    color: black;
    
}
.Descripcion{
    color: black;
}
.Video{
    color:white;
    display: flex;
    justify-content: center;
}
.Portada{
    height: 220px;
}
/*----------------------------------------------------*/

.carrousel{
    width: 100%;;
    max-width: 120 em;
    /*@include neo (1,1em,1em);*/
    overflow: hidden;
    background-color: black;
}
.carrousel .grande {
    width: 200%;
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;   /*En el ejemplo: space-between*/
    align-items: center;
    /*@include neo (1,1em,1em);*/
    padding: 2 em;
    transition: all .5s ease;
    transform: translateX(0%);
    /*background-color: blueviolet;*/
} 
.carrousel  .img{
    width: calc(100%/8);
    min-height: 10vh;
    /*@include neo (1, 1 em, 1 em);*/
    height: 35vh;
    padding-top: 1%;
    /*background-color: chartreuse;*/
}
.carrousel .puntos {
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: black;
}
.carrousel .punto {
    width: 1em;
    height: 1em;
    margin: 1em 1em 0;
   /* @include neo (1,1em, 0.6em);*/
   background-color:orchid;
}
.carrousel .punto.activo {
    background-color: red;
}
.celu{
    display: none;
    background-color: rgb(218,212,214);
    justify-content:end;
}

@media (max-width: 576px){
    .carrousel .grande {
        width: 400%;
        transform: translateX(0%);
    }
    .carrousel  .img{
        width: calc(100%/8);
        
    }
    .celu {
        display: flex;
        background-color: rgb(0,0,0);
        justify-content:center;
    }
}

