.navbar{
    background-color: black;
    height: 13vh;
    display: flex;
    justify-content: center;
}
.Logo{
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

.Padre{
    position: relative;
    height: 45vh;
}
.Titulo-Descripcion{
    position:absolute;
    width: 25%;
    margin-left: 5%;
    margin-top: 5%;
}
.Imagen{
    position: absolute;
    width: 100%;
}
.imagenEnSeccion{
    height: 45vh;
    box-shadow: 0px 0px 20px 20px blue;
}
.Titulo{
    color: white;
    
}
.Descripcion{
    color: white;
}
.Video{
    color:white;
    display: flex;
    justify-content: center;
}
.Portada{
    height: 220px;
}
/*----------------------------------------------------*/
.body {
     overflow-x: hidden;
     width: 100%;
     height: 100%;
}
.carrousel{
    width: 100%;
    height:39vh;
    max-width: 120 em;
    padding-top: 2%;
    /*@include neo (1,1em,1em);*/
    overflow: hidden;
    background-color: black;
}
.carrousel .grande {
    position: absolute;
    width: 200%;
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;   /*En el ejemplo: space-between*/
    align-items: center;
    /*@include neo (1,1em,1em);*/
    padding: 2 em;
    transition: all .5s ease;
    transform: translateX(0%);
} 
.carrousel  .img{
    width: calc(100%/8);
    height: 30vh;
    min-height: 10vh;
    box-shadow: 0px 0px 10px 10px blue;
    /*@include neo (1, 1 em, 1 em);*/
}
.carrousel .puntos {
    position: absolute;
    width: 100%;
    margin: 1em  0  0;
    padding: 0.4em;
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items: center;
    margin-top: 7%;
}
.carrousel .punto {
    width: 1em;
    height: 1em;
    margin: 1em 1em 0;
   /* @include neo (1,1em, 0.6em);*/
   background-color: blue;
}
.carrousel .punto.activo {
    background-color: orange;
}

