.body{
    background-color: rgba(0, 0, 0, 0.622);
}
img{
    width: 500px;
    ;
}
.contenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
h1{
    font-family: 'Open Sans', sans-serif;
}












