:root {
    
   
    --highlight-color: #3282b8;
    --dt-padding-s: 6px;
    --dt-padding-xs: 2px;
  
    --dt-background-container: var(--primary-color);
   
    --dt-bg-active-color: var(--highlight-color);
    --dt-text-color-active-button: beige;
    --dt-hover-cell-color: #ee4640b4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.55) 0%, rgba(56, 51, 51, 0.275) 100%);
    background-image: url("https://wallpapercave.com/wp/wp2878133.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
header{
    height: 10vh;
}
main{
    height: 90vh;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    margin: 0 auto;
    width: 90%;
}

.header-datatable{
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
    width: 80%;
}

#space {
    width: 150px;
}

.button-new-movie {
    width: 150px;
    height: 50px;
    background: #352d2e;
    border-radius: 20px;
    font-size: 20px;
    border-color: #000000;
    color: white;
    cursor: pointer;
}

h1{
    color: white;
}

.datatable-container {
    background-color: rgba(255, 255, 255, 0.7) ;
    border-radius: 3px;
    width: 80%;
    font-size: 18px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.datatable-container .header-tools {
    border-bottom: solid 1px rgba(61, 68, 73, 0.484);
    padding: 3px;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

.datatable-container .header-tools .search {
    width: 200px;
    height: 30px;
}

.datatable-container .header-tools .search .search-input{
    width: 100%;
    height: inherit;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 3px;
    border: solid 1px rgb(0, 0, 0);
    text-align: center;
   
}

.datatable-container .footer-tools {
    padding: 12px;
    display: flex;
    align-items: baseline;
}

.datatable-container .footer-tools .list-items {
    width: 50%;
}

.datatable-container .footer-tools .pages {
    margin-left: auto;
    margin-right: 0;
    width: 50%;
}

.datatable-container .footer-tools .pages .pagination {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

.datatable-container .footer-tools .pages .pagination li {
    display: inline-block;
    margin: 0 2px;
}

.datatable-container .footer-tools .pages .pagination li button{
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius:3px;
    background: transparent;
    cursor: pointer;
}

.datatable-container .footer-tools .pages .pagination li button:hover{
    background: #3282b8;
    color: rgb(255,255,255) ;
}

.datatable-container .footer-tools .pages .pagination li span.active  {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    color: rgb(0, 0, 0);
}

.datatable-container .footer-tools .pages .pagination li span,
.datatable-container .footer-tools .pages .pagination li button {
    padding: 6px 12px;
}

.datatable-container .footer-tools .pages .pagination-responsive {
    display: none;
}

.datatable-container .footer-tools .pages .pagination-responsive ul {
    list-style: none;
    height: 40px;
    line-height: 40px;
}

.datatable-container .footer-tools .pages .pagination-responsive ul li{
    display: inline-block;
    margin: 0 5px;
}

.datatable-container .footer-tools .pages .pagination-responsive ul li button{
    padding: 5px 10px;
    box-sizing: border-box;
    color: #3282b8;
    cursor: pointer;
    background: transparent;
    border: 1px solid rgba(128, 128, 128, 0.589);
    border-radius: 3px;
}

.datatable-container .footer-tools .pages .pagination-responsive ul li button:hover {
    background-color: rgba(128, 128, 128, 0.384);
}

.datatable-container .datatable {
    border-collapse: collapse;
    width: 100%; /*La tabla ocupa el 100% de su contenedor*/
}

.datatable-container .datatable,
.datatable-container .datatable th,
.datatable-container .datatable td {
    padding: 12px 12px;
}



.datatable-container .datatable th {
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 1px rgba(0,0,0,0.1);
}

/*Estilos para el modal de agregar contacto*/


.modal--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}

.modal_body {
    width: 100%;
    overflow-y: auto;
}

.modal_title {
    padding-bottom: 10px;
    font-size: 1.5rem;
}

.modal-footer {
    width: 100%;
    display: flex;
    justify-content:flex-end;
    margin-top: 10px;
}

.modal-footer-btn {
    padding: 10px 20px;
    border: 0;
    font-size: 14px;
    outline: none;
    background-color: #ee4640;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.modal-footer-btn:hover {
    background-color: #a82d29b0;
}


/*****Estilos para ingresar imagenes y videos*****/
.previewImages {
    border: 5px dashed #ddd;
    height: inherit;
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow-y: auto;
}

#subir-img {
    padding: 10px 25px;
    align-self: flex-end;
    font-size: 15px;
    border: 0;
    outline: none;
    background-color: #5256ad;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}



@media (max-width: 1200px) { 
    .container {
        width: 100%;
    }

    #datatable-title {
        font-size: 25px;
        padding-bottom: 20px;
    }

    .header-datatable {
        font-size: 25px;
        flex-direction: column;
        align-items: center;
    }

    .button-new-movie {
        align-self: flex-end;
    }

    .modal_container {
        margin-top: 100px;
        padding: 1.5rem 1.5rem;
     }

}

@media (max-width: 768px) {
    
    .container {
        padding-top: 50px;
        width: 80%;
    }

    .header-datatable {
        justify-content: center;
        width: 100%;
    }
    
    #space {
        display: none;
    }

    .datatable-container {
        width: 100%;
    }

    .header-tools {
        justify-content: center!important;
    }

    thead, td {
        display: none;
    }

    .modal_container {
        padding: 2em 1.5em;
    }

    .modal_title {
        font-size: 1rem;
    }
    
    .modal_footer {
        padding-top: 50px;
    }
    .modal_footer_button {
        padding: 5px 12.5px;
        margin-left: 15px;
    }
    
}

@media (max-width: 576px) {
    .button-new-movie {
        align-self:center;
    }

    .list-items {
        display: none;
    }
    #datatable-title {
        font-size: 22.5px;
    }
    .pages {
        width: 100%!important;
    }
    .pagination {
        display: none!important;
    }
    .pagination-responsive {
        display: flex!important;
        justify-content: center;
    }

}

